.contacts__container-for-triangle {
  position: relative;
  background-image: url("/img/triangle-white-footer.svg");
  background-repeat: no-repeat;
  background-position: center bottom;
  overflow: hidden;
  margin-bottom: -33px;
  z-index: 3;
}

.contacts__title {
  font-weight: 300;
  font-size: 24px;
  line-height: 120%;
  align-items: center;
  text-align: center;
  color: @text-slim;
}

.contacts__caption {
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  align-items: center;
  text-align: center;
  color: @text-slim;
}

.contacts__content {
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  text-align: center;
  color: @red-on-page;
}

@media (min-width: @tablet-width) {
  .contacts__container-for-triangle {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-image: url("/img/triangle-white-tablet.svg");
    margin-bottom: -68px;
  }

  .contacts__address {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .contacts__map {
    width: 660px;
    height: 374;
  }
}

@media (min-width: @desktop-width) {
  .contacts__container-for-triangle {
    grid-template-columns: 1fr 1fr 1fr;
    background-image: url("/img/triangle-white-desktop.svg");
    margin-bottom: -68px;
  }

  .contacts__email {
    grid-column-start: 3;
    grid-column-end: 4;
  }

  .contacts__adres {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
  }
}
