.page-header {
  background-image: url("/img/back-mobile.jpg");
  background-color: #283645;
  background-repeat: no-repeat;
  background-position: 100%;
  opacity: 0.3;
  &__navigation{
    display:none;
  }
}
.page-header--navigation-open{
  background-color: #283645;
  &__block {
    display: block;
  }
}
