.page-header {
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}

.page-header--navigation-close {
  max-width: 320px;
  background-color: rgba(0, 0, 0, 0.3);
  height: 66px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.page-header.page-header--navigation-open {
  position: absolute;
  width: 100%;
  flex-direction: column;
  background-color: @text-slim;
  opacity: 1;
}

.page-header__logo-glasses {
  display: none;
}

.page-header__logo-desktop {
  display: none;
}

@media (min-width: @tablet-width) {
  .page-header--navigation-close {
    height: 110px;
  }

  .page-header {
    max-width: 660px;
  }

  .page-header__logo-glasses {
    display: block;
  }

  .page-header__logo {
    display: flex;
    align-items: baseline;
  }

  .page-header.page-header--navigation-open {
    top: 0;
    right: calc(50% - 330px);
  }
}

@media (min-width: @desktop-width) {
  .page-header__logo-desktop {
    display: block;
  }

  .page-header__logo-glasses {
    display: none;
  }

  .page-header__logo-img {
    display: none;
  }

  .page-header {
    max-width: 1200px;
    padding-left: 130px;
    padding-right: 130px;
  }
}
