
.promo {
  background-image: url("/img/screen.jpg"), url("/img/phone.png"), url("/img/back-mobile.jpg");
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: center 125px, center 93px, center -66px;
  background-color: @background-promo;
}

.promo__slogan {
  font-weight: 300;
  font-size: 24px;
  line-height: 120%;
  text-transform: uppercase;
  text-align: center;
  color: @white-on-page;
}

.promo__content-wrapper {
  background-color: @background-promo;
  margin-top: 320px;
}

.promo__description {
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: @white-on-page;
}
