.main-reviews {
  padding-left: 20px;
  padding-right: 20px;
}

.reviews {
  background-color: @white-on-page;
}

.reviews__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.reviews__name {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: @title-black;
}

.reviews__personal--hidden {
  display: none;
}

.reviews__text {
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  color: @text-slim;
  max-width: 320px;
  margin: 0 auto;
}

.reviews__toggles {
  display: flex;
  justify-content: center;
}

@media (min-width: @tablet-width) {
  .reviews__item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .reviews__personal {
    display: block;
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    color: @text-slim;
  }

  .reviews__text {
    max-width: 660px;
    order: -1;
    font-size: 18px;
    line-height: 30px;
  }

  .reviews__name {
    font-size: 20px;
  }
}

@media (min-width: @desktop-width) {
  .reviews {
    position: relative;
  }

  .reviews::after {
    position: absolute;
    content: "";
    top: 0;
    left: 600px;
    width: 79px;
    height: 63px;
    background-image: url("/img/quotes.png");
    background-repeat: no-repeat;
  }

  .reviews__text {
    width: 688px;
  }

  .reviews__list {
    padding-top: 193px;
  }
}
