.best-photo {
  position: relative;
  color: @text-slim;
}

.best-photo__photo {
  margin: 0 auto;
  display: block;
}

.best-photo__title {
  position: absolute;
  display: block;
  top: 0;
  left: 209px;
  background-color: @red-on-page;
  font-weight: bold;
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
  color: @white-on-page;
}

.best-photo__container-description {
  background-color: @background-grey;
  margin: 0 auto;
  width: 280px;
  padding-left: 17px;
  box-sizing: border-box;
}

.best-photo__name {
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
}

.best-photo__time {
  font-weight: 300;
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
}

.best-photo__img-description {
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
}

.best-photo__rating {
  position: relative;
  font-weight: normal;
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
  color: @red-on-page;
  margin-left: 48px;
}

.best-photo__rating::before {
  position: absolute;
  content: "";
  top: 0;
  left: -25px;
  background-image: url("/img/heart.svg");
  background-repeat: no-repeat;
  width: 13px;
  height: 12px;
}

@media (min-width: @tablet-width) {
  .best-photo__container-description {
    width: 620px;
    position: relative;
    padding-left: 30px;
    padding-right: 30px;
  }

  .best-photo__rating {
    position: absolute;
    top: 0;
    right: 59px;
  }

  .best-photo__rating::before {
    top: 6px;
    left: 107px;
  }
}

@media (min-width: @desktop-width) {
  .best-photo__container-description {
    width: 940px;
  }
}
