.card__container-description {
  background-color: @background-grey;
  width: 280px;
  padding-left: 17px;
  margin: 0 auto;
  box-sizing: border-box;
}

.card__name {
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
}

.card__photo {
  margin: 0 auto;
  display: block;
}

.card__time {
  font-weight: 300;
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
}

.card__img-description {
  font-weight: normal;
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 24px;
}

.card__rating {
  position: relative;
  font-weight: normal;
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
  color: @red-on-page;
  margin-left: 48px;
}

.card__rating::before {
  position: absolute;
  content: "";
  top: 0;
  left: -25px;
  background-image: url("/img/heart.svg");
  background-repeat: no-repeat;
  width: 13px;
  height: 12px;
}

@media (min-width: @tablet-width) {
  .card__container-description {
    height: 155px;
    width: 300px;
    padding: 30px;
    display: flex;
    flex-direction: column;
  }

  .card__img-description {
    flex-grow: 1;
  }
}
