.upload{
  background-color: #f2f2f2;
}
.upload__slogan {
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  color: #283645;
}
.upload__example-photo {
  background-image: url(/img/photo-example-mobile.jpg);
  background-repeat: no-repeat;
  width: 280px;
  height: 374px;
}
.upload__container {
  display: flex;
  border:none;
}
.upload__item{
  position: relative;
}
.upload__input{
  position: absolute;
}
.upload__input--contrast,
.upload__input--fill,
.upload__input--frame {
  top: 43px;
}
.upload__input--fill{
  left:-1px;
}
.upload__input--contrast {
  left: -49px;
}
.upload__button {
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  background-color: #f2f2f2;
}
.upload__button--post {
  color: #D22856;
}
.upload__button--reset {
  color: #283645;
  opacity: 0.1;
}
