.checkboxes-radio {
  background-color: @background-grey;
  border: none;
}

.checkboxes-radio__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.checkboxes-radio__legend {
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: @red-on-page;
  text-align: center;
}

.checkboxes-radio__caption {
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  color: @text-slim;
}
