.main-form__slogan {
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  text-align: center;
  color: @white-on-page;
  background-image: url("/img/back-mobile.jpg");
  background-repeat: no-repeat;
  background-position: center -66px;
}

.main-form__appeal {
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  color: @text-slim;
}
